
/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
  background-color: darkblue;

}

li {

  color: black; 
  padding: 3px;
  font-size: 19px;

}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 15px;
  font-size: 23px;
  width: 20%;
}

.h{
  margin-right: auto;
  margin-left: auto; 
  width: 100%;
  background-color: darkblue;
  padding: 0;
  margin: 0;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color: snow;}
#Video {background-color: snow;}
#About {background-color: snow;}
#Encryption {background-color: snow;}
#Protection {background-color: snow;}