/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 19px;
  width: 33.33%;
}

.h{
  margin-right: auto;
  margin-left: auto; 
  width: 100%;
  background-color: black;
  padding: 20px;
  margin: 0;
}

.tablink:hover {
  background-color: black;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color: black;}
#Video {background-color: black;}
#About {background-color: black;}
